.dropdown-custom {
  position: relative;
  cursor: pointer;
}
.dropdown-custom-menu {
  position: absolute;
  bottom: -29px;
  left: -16px;
  border-radius: 4px;
  transform: translateY(100%);
  background-color: var(--color-white);
  width: 120px;
  padding: 8px;
  clip-path: inset(0 0 100% 0);
  will-change: clip-path;
  transition: clip-path 0.3s ease;
  pointer-events: none;
  &.dropdown--active {
    clip-path: inset(0 0 0 0);
    pointer-events: auto;
  }
}
.dropdown-custom-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  .value-select {
    display: flex;
    align-items: center;
    gap: 6px;
    span {
      color: var(--color-white);
      font-size: 10px;
      line-height: 11px;
      font-weight: bold;
    }
  }
}
.dropdown-custom-item {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(45, 193, 88, 0.1);
  }
  span {
    color: var(--color-white);
    font-size: 10px;
    line-height: 11px;
    font-weight: bold;
  }
}

.marquee {
  &-container {
    overflow: hidden;
  }

  &-content {
    gap: 24px;
    display: flex;
    flex-wrap: nowrap;
  }
}

.tag {
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  color: var(--color-primary);
  padding-left: 43px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 2px;
    background-color: var(--color-primary);
  }
}

.swiper-control {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 40px;

  .swiper-pagination {
    position: relative;
    transform: none;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
    height: 7px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    border-radius: 4px;
    padding: 3px;
    width: calc(100% - 106px);

    .swiper-pagination-progressbar-fill {
      background-color: var(--color-primary);
      height: 1px;
      border-radius: 4px;
      top: 3px;
      left: 3px;
      width: calc(100% - 6px);
    }
  }

  .swiper-arrows {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: unset;
    transform: none;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0;

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    svg {
      transform: scaleX(-1);
      width: 20px;
      height: auto;
    }
  }
}
