:root {
  --color-primary: #2dc158;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-heading: "Neue Plak Condensed";
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--color-white);
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

.color-primary {
  color: var(--color-primary);
}

.h1-font {
  font-size: 67px;
  line-height: 80px;
  font-weight: 900;
  font-family: var(--font-heading);
}

.h2-font {
  font-size: 24px;
  line-height: 28px;
  font-weight: 950;
  font-family: var(--font-heading);
}

.b1-bold {
  font-size: 18px;
  line-height: 28px;
  font-weight: 800;
}

.b2-font {
  font-size: 16px;
  line-height: 26px;
  font-weight: 900;
  font-family: var(--font-body);
}

.b3-medium {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-body);
}

.b3-font {
  font-size: 13px;
  line-height: 20px;
  font-weight: 900;
  font-family: var(--font-body);
}
